<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
        <title>Article to Audio</title>
    </head>
    <body>

        <div class="navigation-bar">
            <div class="logo">
                <a href="#"><img src="./static/images/logo.png">ATS</a>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>

        <div class="space">
            <img src="./static/images/homepic.png">
        </div>

        <h1>Article to Speech Converter</h1>
        <div class="form">
            <form method="post" action="/">
                <label for="article_url">Enter Article URL:</label>
                <input type="text" name="article_url" id="article_url" required>
                <button type="submit">Generate Audio</button>
            </form>
        </div>

        {% if audio_file_path %}
            <p>Audio file generated successfully!</p>
            <audio controls>
                <source src="{{ audio_file_path }}" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
        {% endif %}
    </body>
</html>